h1{
    margin-top: 40px;
    color: var(--color-2);
}

p{
    color: white;
    padding-left: 50vh;
    padding-right: 50vh;
}

.painting{
    height: 20vh;
    padding: 2vh;
    border-radius: 20px;
}