.aboutMe{
    font-family: 'Raleway', sans-serif;
}

.myphoto{
    width: 50%;
    padding: 2vh;
    border-radius: 100%;
}


@media only screen and (max-width: 600px) {
    .description{
       
    } 
}