:root{
  --color-1: #434F75;
  --color-2: #AEA8C8;
}

.App {
  text-align: center;
  justify-content: center;
}

body {
  margin: 0;
  padding: 0;
  background-color: #20273D;
  font-family: 'Courier New', Courier, monospace
}


